<div class="about">
    <h2>About Me</h2>
    <p>>
        var bio = "I am a young adult at the age of 23 this year. " +
            "I was born and raised in Alexandra township where I also attended at Carter Primary School from the year 2008 - 2014. " +
         "I then got a bursary from the Alexandra Education Committee (AEC) to attend a private high school in Randburg called " +
         "Vuleka Sekolo Sa Borokgo (SSB) from 2014 - 2019. After matric, I was enrolled for a BSc in Mathematical Science in Mathematics and Computer Science " +
        "at the University of Johannesburg but I could not finish my 3rd year due to financial constraints.";</p>
    <h3>Skills</h3>
    <ul>
      <li>Angular</li>
      <li>TypeScript</li>
      <li>HTML/CSS</li>
      <li>JavaScript</li>
    
    </ul>
  </div>
  